# IDE
.idea/
.vscode/
*.iml

# Java / Maven
api/target/
*.class
*.jar

# Azure Functions local
api/local.settings.json
api/.azurite/

# Python
queue-worker-python/__pycache__/
queue-worker-python/*.pyc
queue-worker-python/.venv/
queue-worker-python/.env

# OS
.DS_Store
Thumbs.db