SQL_CONNECTION_STRING=Driver={ODBC Driver 18 for SQL Server};Server=<server>;Database=DB_Metadata;UID=<user>;PWD=<password>;Encrypt=yes;
AZURE_COMMUNICATION_CONNECTION_STRING=endpoint=https://<resource-name>.communication.azure.com/;accesskey=<key>
